.gallery {
  width: calc(100% - 32px);
  margin: 0 16px 12px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.gallery__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    max-width: 1184px;
  }

  .gallery__image {
    max-width: 284px;
    max-height: 213px;
  }
}
