body {
  background-color: #2a2c2f;
}

.page {
  max-width: 100%;
  margin: auto;
  font-family: "Inter-Regular", sans-serif;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #2a2c2f;
  font-size: 16px;
  line-height: 20px;
}
